

  #intro {
     background-image: url("Capture.JPG"); 
    width: 100%;
    height: 50vh;
    background-size:cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
  }

 
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .aboutSection {
    background-image: url(homepage-aboutpage.jpg);
    padding: 50px;
    text-align: center;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(18, 46, 201);
  }

  .content{
    color: #000;
  }

  .name{
    color: #000;
  }
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: rgb(18, 46, 201);
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }